  <script src="js/modules/live_osd.js" charset="UTF-8"></script>
  <script src="js/modules/viewer.js" charset="UTF-8"></script>
  <script src="js/modules/calculators.js" charset="UTF-8"></script>
  <script src="js/modules/settings/appearance.js" charset="UTF-8"></script>
  <script src="js/modules/settings/tariff_editor.js" charset="UTF-8"></script>
  <script src="js/modules/settings/update_manager.js" charset="UTF-8"></script>
  <script src="js/modules/settings/folder_settings.js" charset="UTF-8"></script>
  <script src="js/modules/settings/tools_templates.js" charset="UTF-8"></script>
  <script src="js/modules/settings.js" charset="UTF-8"></script>
  <script src="js/modules/fuzzy_lookup.js" charset="UTF-8"></script>
  <script src="js/modules/audit_studio.js" charset="UTF-8"></script>
  <script src="js/modules/osd_studio.js" charset="UTF-8"></script>
  <script src="js/modules/dcrc_billing.js" charset="UTF-8"></script>
  <script src="js/app.js" charset="UTF-8"></script>
</body>
</html>
